---
// src/pages/index.astro
import WelcomePage from '../components/Welcome';
import Layout from '../layouts/Layout.astro';
import '../styles/welcome.css';
---

<Layout title="Welcome to My App">
	<head>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<main>
	  <WelcomePage client:load />
	</main>
</Layout>